<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
  </head> {% block body %} <body> 

  <div class=container >

    <div class=container style="background-color: white;border: rgba(0, 0, 0, 0.125);border: 1px solid ;padding: 20px;">
      <h2 style="text-align:center">Cannot validate the URL. Please check the URL and try again.</h2>
      <h3 style="text-align:center"><a href="" >HOME</a></h3>
    </div>
  </div>
  <div >
    <img style="display: block;margin: auto;position: relative;top: 80px; right: 8px;" src="static/styles/ninja-hang.png" alt="Flying Kites" width="200" height="250">
  </div>
  </body> {% endblock %}
  <meta charset="UTF-8">