<!DOCTYPE html>
<html lang="en">
<head>
  <link rel= "stylesheet" type= "text/css" href= "static/styles/style.css">
</head>
<form method="POST" >
    <h1 style="text-align:center">Qinja URL</h1>
    <h2 style="text-align:center">The URL shortener</h2>
    <div>
      <label class="label-email">
        <input type="url" class="text" name="shortenurl" tabindex="1" required />
        <span class="required">Long URL</span>
      </label>
    </div>
    <input type="submit" value="Generate short URL" />
    <figure aria-hidden="true">
      <div class="head skin">
        <div class="eyes"><img src="static/styles/ninja-face.png" alt="Flying Kites" width="150" height="200"></div>
      </div>
    </figure>
  </form>

<!-- <form  method="POST">
    <label for="shortenurl">Enter URL</label>
    <input name="shortenurl" value="">
    <input type="submit">
</form> -->